<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkWithDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorkWithDatabase.Properties.Settings>
            <setting name="DbConnection" serializeAs="String">
                <value>server=sql9.freesqldatabase.com;uid=sql9326603;pwd=4TDkZpMnJK;database=sql9326603</value>
            </setting>
        </WorkWithDatabase.Properties.Settings>
    </applicationSettings>
</configuration>